* {margin: 0;padding: 0;}
		html,body {height: 100%;width: 100%;}
		.lyf-big {width:100%; height: 100%;}
		/*导航*/
		/*头部样式*/
		/*刘宁头部url*/
		.header {background-color: #00605d;height: 160px;left: 0;position: fixed;top: 0;width: 100%;z-index: 10;}
		.header-center {/*background-color: bisque;*/	/*background-color: transparent;*/height: 145px;margin: 0 auto;width: 1170px;}
		.header-img {/*background-color: red;*/float: left;margin-top: 4px;height: 145px;width: 390px;}
		.header-img img {margin: 20px 0 0 15px;}
		.header-nav {float: left;height: 71px;width: 780px;}
		.header-ul {height: 56px;list-style: none;margin: 15px 0px 0 70px;width: 750px;}
		.header-ul li {float: left;margin: 0 14px;}
		.header-ul .wang222 {border-bottom: 1px solid #FFFFFF;}
		.header-ul li:hover {border-bottom: 1px solid #FFFFFF;}
		.header-ul li a {color: #FFFFFF;display: block;height: 56px;line-height: 56px;text-decoration: none;}
		/*刘宁头部结束*/
		/*导航下部次级导航*/
		.lyf-next-url {background-color: #09776c; font-size: 13px; padding: 10px 65px 11px 65px;margin-top: 160px;}
		.lyf-next-url-span1 {color: #12ba44;}
		.lyf-next-url-span2 {color: white;}
		.lyf-next-url-span4 {color: white;}
		/*次级导航下的图片*/
		.lyf-contbg {background: url("../images/lyf-bg1.png")no-repeat;background-size: 100% 100%; width: 100%;height: 221px; display:flex;margin-bottom: 60px;}
		.lyf-contbg span{flex:6;display: flex;justify-content: center;align-items: center;font-size: 35px;color:#eef5f5;}
		/*下部div总*/
		.lyf-bottomall {display: flex;margin: 0 auto;padding: 30px 15px 60px 15px;width: 1050px;}
		/*左div*/
		.lyf-bottom-left {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}/*JS写完取消这里的display none*/
		.lyf-bottom-left img{width: 140px;height: 140px;}
		.lyf-bottom-left-img1,.lyf-bottom-left-img2,.lyf-bottom-left-img3 {flex:4;display: flex;}
		/*右div*/
		.lyf-bottom-right {flex: 4;display: flex;flex-flow:column;max-height: 700px;}
		/*右上部*/
		.lyf-bottom-right-top {flex: 8;margin-bottom: 15.5px;}
		.lyf-bottom-right-bottom {flex: 4;}
		.lyf-bottom-right-top span {background-color: rgb(241,242,243);padding: 12px 15px;border-left: 3px solid #028484;font-size: 18px;line-height:24px;display: block;}
		.lyf-bottom-right-top li {list-style: none;padding: 5px 0;}
		.lyf-bottom-right-top a {text-decoration:none; color: #12ba44;}
		.lyf-bottom-right-top-li1,.lyf-bottom-right-top-li2 {border-top: 1px solid #d7d7d7;}
		.lyf-anli-ul2 li{border-top: 1px solid #D7D7D7;}
		/*右下部*/
		.lyf-bottom-right-bottom span {background-color: rgb(241,242,243);padding: 12px 15px;border-left: 3px solid #028484;font-size: 18px;line-height:24px;display: block;}
		.lyf-bottom-right-bottom li {list-style: none;padding: 5px 0;border-top: 1px solid #d7d7d7;}
		.lyf-bottom-right-bottom a {text-decoration:none; color: #12ba44;}
		/*foot底层*/
		.lyf-foot {width: 100%;background: #3e4444;padding: 40px 0 15px 0;text-align: center;color: white;}
		/*关于我们的left1div*/
		.lyf-bottom-left1 {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left1-top {flex: 4;}
		.lyf-bottom-left1-top span {padding: 15px 0 20px 0; font-size: 30px;display: block;}
		.lyf-bottom-left1-body {flex: 4;height: 350px;}
		.lyf-bottom-left1-body img {padding: 10px 0; height: 350px;}
		.lyf-bottom-left1-bottom {flex: 4;height: 350px;}
		.lyf-bottom-left1-bott span {padding: 15px 0 20px 0; font-size: 30px;display: block;}
		/*关于我们的left1div结束*/
		/*案例left2div*/
		.lyf-bottom-left2 {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left2 ul li{list-style: none;padding: 5px 0;}
		.lyf-bottom-left2 ul li a {text-decoration:none; color: #12ba44;}
		/*案例left2div结束*/
		/*2015年度产品晚宴*/
		.lyf-bottom-left-wanyan {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-wanyan img {width: 700px;}
		/*2015年度产品晚宴结束*/
		/*2015年度产品典礼*/
		.lyf-bottom-left-dianli {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-dianli img:nth-child(1) {width: 300px;margin-top: 30px;}
		.lyf-bottom-left-dianli img:nth-child(2) {width: 300px;margin-top: 30px;}
		.lyf-bottom-left-dianli img:nth-child(4) {width: 700px;margin-top: 30px;}
		/*2015年度产品典礼结束*/
		/*广州来又来商城*/
		.lyf-bottom-left-laiyoulai {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-laiyoulai img {width: 700px;margin-left: 10px;margin-top: 30px;}
		/*来又来商城结束*/
		/*法国专门店*/
		.lyf-bottom-left-zhuanmendian {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-zhuanmendian img:nth-child(2){width: 700px;margin-bottom: 30px;}
		.lyf-bottom-left-zhuanmendian img:nth-child(3){width: 600px;margin: 0 auto;}
		/*法国专门店结束*/
		/*花都会所*/
		.lyf-bottom-left-huisuo {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-huisuo p {margin-bottom: 40px;}
		.lyf-bottom-left-huisuo img {width: 700px;margin: 0 auto;}
		/*会所结束*/
		/*世界应急联合会*/
		.lyf-bottom-left-lianhehui {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-lianhehui img {margin: 40px 15px 50px 40px; width: 650px;}
		/*联合会结束*/
		/*Gmusic网页*/
		.lyf-bottom-left-Gmusie {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-Gmusie img {margin: 40px 15px 50px 40px; width: 650px;}
		/*Gmusic结束*/
		/*网页设计*/
		.lyf-bottom-left-sheji {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-sheji img {max-width: 700px;margin-bottom: 50px;}
		/*网页设计结束*/
		/*3D设计页面*/
		.lyf-bottom-left-3dsheji {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-3dsheji img {max-width: 700px;margin-bottom: 50px;}
		/*3D设计页面结束*/
		/*手机APP页面*/
		.lyf-bottom-left-app {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-bottom-left-app img {max-width: 700px;margin-bottom: 50px;}
		/*手机APP页面结束*/
		/*未上线应用程序*/
		.lyf-yingyongchengxu {flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-yingyongchengxu p:nth-child(2){margin-top: 30px;text-align: center;}
		.lyf-yingyongchengxu p:nth-child(4){margin-top: 50px;text-align: center;}
		.lyf-yingyongchengxu img {width: 700px;}
		.lyf-yingyongchengxu button {width: 120px;height: 40px;color: #12BA44;}
		.lyf-yycx-head {border-bottom: 1px solid #D7D7D7;border-top: 1px solid #d7d7d7;}
		.lyf-yycx-head img {width: 15px;}
		.lyf-yycx-head p {color: #12BA44;}
		/*未上线应用程序结束*/
		/*未上线网站*/
		.lyf-wangzhan{flex: 8;display: flex;flex-flow:column;margin-right: 40px;}
		.lyf-wangzhan img {max-width: 700px;}
		.lyf-wangzhan p:nth-child(2){margin: 30px 0 30px 0;text-align: center;}
		.lyf-wangzhan p:nth-child(4){margin: 30px 0 30px 0;text-align: center;}
		.lyf-wangzhan p:nth-child(6){margin: 30px 0 30px 0;text-align: center;}
		.lyf-wangzhan p:nth-child(8){margin: 30px 0 30px 0;text-align: center;}
		.lyf-wangzhan-btn1,.lyf-wangzhan-btn2 {width: 120px;height: 40px;color: #12BA44;margin: 20px 0 0 0;}
		.lyf-wangzhan-btn1 {float: left;}
		.lyf-wangzhan-btn2 {float: right;}
		/*吴浩然的加入我们的css样式*/
		.mumin-mainleft {flex: 8;margin-right: 40px;}
		.mumin-mainlefttwo{/*width: 700px;*/height: 40px;border-bottom: 1px solid black;border-top: 1px solid black;line-height: 40px;margin-bottom: 40px;}
		.mumin-mainlefttwo img{width: 15px;height: 15px;}
		table {border-spacing: 0;width: 100%;}
		.mumin-bordered {border: solid #ccc 1px;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 1px 1px #ccc;-moz-box-shadow: 0 1px 1px #ccc;box-shadow: 0 1px 1px #ccc;margin: 20px 0 50px 0;}
		.mumin-bordered tr:hover {background: #fbf8e9;-webkit-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;}
		.mumin-bordered td {border-left: 1px solid #ccc;border-top: 1px solid #ccc;padding: 10px;text-align: left;}
		#mumin-upload{width: 300px;height: 30px;border: 1px solid gray;display: inline-block;}
		.mumin-mybtn{width: 80px;height: 30px;}
		.mumin-name{margin: 50px 0 10px 0;}
		#mumin-inputone{width: 100%;height: 40px;}
		.mumin-mybtntwo {width: 80px;height: 45px;margin: 10px 0 20px 0;background-color: #00605D;color: white;}